#div_1 {
    position: absolute;
    float: right;
    width: 200px;
    height: 200px;
    background: rgb(125, 0, 124);
    z-index: 1;
    left: 152px;
    top: 35px;
    outline: rgb(135, 135, 135) dashed 2px;
}

