@font-face {
    font-family: 'GothaProLig';
    src: url('../fonts/GothaProLig.otf');
}
@font-face {
    font-family: 'GothaProMed';
    src: url('../fonts/GothaProMed.otf');
}
@font-face {
    font-family: 'GothaProReg';
    src: url('../fonts/GothaProReg.otf');
}

body {
    margin: 0;
    padding: 0;
    font-family: "GothaProLig";
}

#top_photo img {
    height: 50%;
    width: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#wrapper {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    min-height: 800px;
}

#top {
    width: inherit;
    height: 62px;
    background-color: #294752;
}

#top_logo {
    position: relative;
    float: left;
    margin-left: 40px;
}

#top_photo {
    width: 42px;
    height: 42px;
    margin: 10px;
    border-radius: 21px;
    background-color: #fff;
}

#top_menu_box {
    margin: 0 40px 0 40px;
    padding: 17px 0 17px 0;
}

#top_name {
    height: 36px;
    margin: 17px 20px;
    font-size: 29px;
    color: #ffffff;
    font-family: "GothaProLig";
}

.top {
    position: relative;
    float: right;

}

#control_wrapper {
    width: inherit;
    height: 66px;
}

#chart_container {
    position: relative;
    width: 100%;
    height: 0px;
    border-bottom: 2px solid silver;
}

.chart_bar {
    position: absolute;
    width: 1000px;
    height: 360px;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
}

#data_shower {
    width: 80px;
    height: 50px;
    background: #294752;
    border-radius: 5px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 100000000000000;
    border: 3px inset #e2e2e2;
}

#date {
    width: 80px;
    height: 25px;
    float: left;
    margin-top: 5px;
    font-size: 14px;
    color: #ffffff;
    font-family: "GothaProLig";
    text-align: center;
}

#time {
    width: 80px;
    height: 20px;
    float: left;
    font-size: 12px;
    color: #ffffff;
    font-family: "GothaProLig";
    text-align: center;
}

#upper_line {
    position: absolute;
    width: 100%;
    height: 220px;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}


#query_chart {
    width: 1000px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: 2px solid silver;
    border-radius: 10px;
}

#text_area_block {
    width: 700px;
    height: 190px;
    float: left;
    margin-left: 45px;
    margin-top: 10px;
    border-radius: 10px;
    background: rgb(250, 250, 250);
}

.image_block {
    width: 600px;
    height: 170px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(250, 250, 250);
    font-size: 20px;
    color: #294752;
    font-family: "GothaProLig";
    text-align: justify;
    line-height: 1.5;
    text-indent: 1.5em;
}

.red_dot {
    font-size: 25px;
    color: lawngreen;
    font-family: "GothaProLig";
}

#chart_column {
    height: 200px;
    width: 180px;
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}

.query_btn {
    background: #294752;
    background-image: -webkit-linear-gradient(top, #294752, #294752);
    background-image: -moz-linear-gradient(top, #294752, #294752);
    background-image: -ms-linear-gradient(top, #294752, #294752);
    background-image: -o-linear-gradient(top, #294752, #294752);
    background-image: linear-gradient(to bottom, #294752, #294752);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: "GothaProLig";
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 120px;
    height: 20px;
    float: left;
    margin: 5px;
    margin-top: 35px;
    cursor: pointer;
}

.query_btn:hover {
    background: #467180;
    text-decoration: none;
}

.control_element {
    position: relative;
    float: left;
    margin-left: 40px;
}

#control {
    width: 80%;
    position: relative;
    height: 46px;
    margin: auto;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid silver;
}

#control_add {
    width: 50px;
    height: 50px;

}

#createForm {
    height: 30px;
    margin: 10px 10px 10px 10px;
    visibility: hidden;
}

#createBtn {
    margin-top: -10px;
}

#projectName {
    margin-left: 10px;
    height: 20px;
    padding: 2px 4px 3px 4px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid silver;
}

#templates_wrapper {
    width: inherit;
    min-height: 600px;
}

#templates {
    position: relative;
    margin: auto;
    width: 80%;
    padding: 20px 0 0 0;
}

.template_box {
    position: relative;
    float: left;
    height: 220px;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

.template_img {
    width: inherit;
    height: 140px;
    background-color: #def6f6;
    margin: 0 0 15px 0;
    border: 1px solid silver;
    border-radius: 4px;
    background-size: cover;
}

.template_name, .template_time {
    height: auto;
    font-size: 16px;
    margin: 10px 0;
}

#drop_menu {
    width: 450px;
    min-height: 100px;
    position: fixed;
    top: 62px;
    background-color: #294752;
    border-top: 2px solid #456b76;
    color: white;
    font-size: 20px;
    padding: 10px 10px 0 10px;
    visibility: hidden;
}

.drop {
    position: relative;
    float: left;
}

.drop_menu_line {
    height: 35px;
}

.drop_left {
    width: 110px;
    font-family: "GothaProReg";
}

.drop_center {
    width: 308px;
}

.drop_right {
    width: 20px;
}

#change_menu_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999998;
    width: 100%;
    background: white;
    opacity: 0.8;
}


#change_menu_panel {
    width: 560px;
    height: 420px;
    margin: auto;
    margin-top: 0;
    display: none;
    z-index: 999999;
    background: #eaeef1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    border-radius: 4px;
}


#change_menu_control {
    position: relative;
    width: 540px;

    margin: auto;
    padding: 0;
    border-radius: 20px;
    background-color: #f6eddb;
    opacity: 0.99;
}

#tab_line {
    height: 26px;
    background: #2a4852;
    padding: 2px 10px 4px 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.tab {
    position: relative;
    float: left;
    height: 20px;
    width: 261px;
    margin: 0 4px;
    text-align: center;
    font-size: 20px;
    padding: 3px 0 4px 0;
    border-right: 1px solid #304e58;
    cursor: pointer;
    color: #a0a295;
    font-family: 'GothaProReg';
}

#changers_wrapper {
    height: 390px;
    padding: 15px;
    background: #9ccfd0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.change_line {
    width: inherit;
}

.descr, .inputs {
    position: relative;
    height: 30px;
    margin: auto;
    text-align: center;
}

#change_pass_box {
    display: none;
}

#change_user_tab {
    color: #ffffff;
}

#change_menu_panel input {
    width: 200px;
    height: 24px;
    border-radius: 2px;
    font-size: 18px;
    outline: none;
    border: none;
}