@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/CaviarDreams.ttf');
}

a {
    font-family: 'CaviarDreams';
}


body {
    margin: 0;
    background: url('../images/reg_background3.jpg');
    background-size: cover;
    font-family: "CaviarDreams";
}

header {
    height: 200px;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: yellow;
}

#user_block {
    position: relative;
    float: right;
    width: 240px;
    height: 180px;
    background-color: aliceblue;
    padding: 10px;
}

.auth_box {
    margin: auto;
    padding: 8px 0;
    width: 220px;

}

.auth_input {
    box-shadow: inset 1px 1px 5px 0 #eee;
    box-sizing: border-box;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
    width: 220px;
    margin: 0;
    height: 28px;
    font-size: 16px;
    font-family: "CaviarDreams";
}

#error_lbl {
    width: 220px;
    margin: auto;
    color: red;
}

.auth_btn {
    box-shadow: inset 1px 1px 5px 0 #eee;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid silver;
    width: 80px;
    height: 28px;
    background: radial-gradient(#adf6b9, lightgreen);
    font-family: "CaviarDreams";
}

.auth_btns {
    position: relative;
    float: left;
    height: 30px;
    padding-bottom: 4px;
}

#reg_btn {
    background: radial-gradient(indianred, orangered);
    width: 100%;
}

#reg_btn_box {
    padding-top: 8px;

}

#content {
    position: absolute;
    width: 100%;
    background-color: antiquewhite;
    min-height: 500px;
}

#left_bar {
    position: fixed;
    z-index: 10;
    top: 200px;
    width: 200px;
    background-color: aqua;
}