@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/CaviarDreams.ttf');
}

body {
    margin: 0;
    font-family: "CaviarDreams";
}

ul li {
    list-style: none;
    cursor: pointer;
}

#red {
    width: 100%;
    font-size: 16px;
    padding: 10px 0 10px 20px;
}


.elements {
    padding-left: 10px;
}

header {
    height: 200px;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: lightblue;
}
.header_elements {
    position: relative;
    float: left;
}

#user_block {
    width: 200px;
    height: 180px;
    background-color: #e6e6e6;
    padding: 8px;
    border: 2px solid #547898;
}

#logo {
    width: 220px;
    height: 100%;
    background: url("../images/logo4.jpg");
    background-size: cover;
}

#top_menu {
    height: 196px;
    background: linear-gradient(#fefefd, #f0e8d5);
    border-bottom: 2px solid #547898;
    border-top: 2px solid #547898;
}

#header_menu_wrap {
    width: 100%;
    height: inherit;
    visibility: visible;

}

#status_line {
    height: 20px;
    border-top: 1px solid #837565;
    padding: 4px 10px 4px 10px;
}

#properties {
    height: 124px;
}

.status_element {
    position: relative;
    float: left;
    margin-right: 15px;
    font-size: 18px;
}

.status_input {
    box-shadow: inset 1px 1px 5px 0 #eee;
    box-sizing: border-box;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
    width: 45px;
    margin: 0;
    height: 22px;
    font-size: 18px;
    font-family: "CaviarDreams";
}

#header_menu_tabs {
    height: 31px;
    background: linear-gradient(#dbc9b3, #c9ae91);
    border-bottom: 1px solid #837565;
    padding: 10px 10px 0 10px;

}

.menu_tab {
    position: relative;
    float: left;
    height: 14px;
    margin: 0 4px;
    text-align: center;
    font-size: 16px;
    padding: 8px 0 8px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #837565;
    border-bottom: none;
    cursor: pointer;
}

.selected_tab {
    background: linear-gradient(#f2ebda, #fefefd);
    border-bottom: none;
    height: 15px;
}

#source_code_btn {
    background: linear-gradient(#dfc9b1, #f4e7d9);
    color: black;
}

#workplace {
    top: 204px;
    position: absolute;
    background-color: white;
    min-height: 500px;
}

#left_bar {
    position: fixed;
    z-index: 10;
    top: 200px;
    left: 0;
    width: 218px;
    background: linear-gradient(#fefefd, #f0e8d5);
    border-right: 2px solid #547898;
}

#left_btn {
    height: 21px;
    width: 21px;
    font-stretch: ultra-condensed;
    text-align: center;
    cursor: pointer;
    background: url(../images/arrLeft.png);
    background-size: cover;
    font-family: "Century Gothic";
}

#left_menu {
    position: relative;
    float: right;
    width: 218px;
    height: inherit;
    background-color: transparent;

}

.auth_box {
    margin-top: auto;
    padding: 0 0 8px 0;
    width: 200px;
    text-align: center;
}

.auth_input {
    box-shadow: inset 1px 1px 5px 0 #eee;
    box-sizing: border-box;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
    width: 200px;
    margin: 0;
    height: 30px;
    font-size: 18px;
    font-family: "CaviarDreams";
}

#error_lbl {
    width: 200px;
    padding-bottom: 0;
    margin: auto;
    color: red;
    text-align: center;
}

.auth_btn {
    box-shadow: inset 1px 1px 5px 0 #eee;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    height: 28px;
    background: #99d9ea;
    color: #000000;
    font-family: "CaviarDreams";
}

#reg_btn {
    background: #5d89ae;
    width: 100%;
    margin-top: 8px;
    color: white;
    border: 1px solid #ffffff;
    font-size: 18px;
    height: 28px;
}

#reg_btn_box {
    padding-top: 0;
}

#size_container {
    position: absolute;
    width: 70px;
    height: 22px;
    background: #e7e7e7;
    border: 1px solid #575757;
    text-align: center;
    color: #000000;
    font-size: 14px;
    opacity: 0;
    z-index: 1000;
}

#res_pass {
    margin-top: 19px;
}

