#source_code_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999998;
    width: 100%;
    background: silver;
    opacity: 0.8;

}

#source_code_panel {
    width: 900px;
    height: 532px;
    margin: 50px auto;
    display: none;
    z-index: 999999;
    background: #eaeef1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 8px;
}

.source_code_block {
    position: relative;
    float: left;
    width: 447px;
    height: 500px;
    border: 1px solid black;
    font-style: normal;
}

#source_code_css {
    margin-left: 2px;
}

#source_code_control {
    height: 30px;
    width: inherit;
    z-index: 1000000;
    margin-bottom: 2px;

}

.source_icon {
    float: left;
    position: relative;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 2px;

}

.out_btn {
    float: right;
    width: 80px;
    height: 22px;
    padding: 2px 0 6px 0;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    font-family: 'GothaProMed';
}




#source_switch {
    width: 45px;
    height: 30px;
    background: url('../images/code_editor/switch_light.jpg');
    background-size: cover;
}

#source_vsplit {
    width: 30px;
    height: 30px;
    background: url('../images/code_editor/vSplit_light.jpg');
    background-size: cover;
}

#source_hsplit {
    width: 30px;
    height: 30px;
    background: url('../images/code_editor/hSplit_light.jpg');
    background-size: cover;
}

#source_comment {
    width: 30px;
    height: 30px;
    background: url('../images/code_editor/comment_light.jpg');
    background-size: cover;
}

#source_uncomment {
    width: 30px;
    height: 30px;
    background: url('../images/code_editor/uncomment_light.jpg');
    background-size: cover;
}

#source_undo {
    width: 30px;
    height: 30px;
    background: url('../images/code_editor/undo_light.jpg');
    background-size: cover;
}

#source_repeat {
    width: 30px;
    height: 30px;
    background: url('../images/code_editor/repeat_light.jpg');
    background-size: cover;
}

